<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ServidorCorreo" value="SMTP.office365.com" />
		<add key="CuentaCorreo" value="sac@ffc.co.cr" />
		<add key="PassCuentaCorreo" value="FGA$2020$Sis" />
		<add key="DireccionLogin" value="http://localhost/Account/login" />
		<add key="RutaImg" value="C:\inetpub\wwwroot\img\secciones\" />
		<add key="CorreoDestino" value="sac@ffc.co.cr" />
		<add key="RutaInformes" value="C:\inetpub\wwwroot\FFC2\Uploads" />
		<add key="RutaUploads" value="E:\Uploads" />
		<add key="TempExcel" value="C:\Windows\Temp" />
	</appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
   
    <globalization uiCulture="es" culture="es-ES" />
    <trust level="Full" />
    <customErrors mode="Off" />
    <sessionState timeout="600" />
    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="600" slidingExpiration="true" protection="All" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <compilation targetFramework="4.8" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="360" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authorization" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Routing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.WebSockets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.WebSockets.WebSocketProtocol" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Connections.Common" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.SignalR.Common" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.SignalR.Protocols.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceOf_Role" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_TipoXML" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_ArchivoEstado" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_Menu" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_Error" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_Log" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_UsuarioEstado" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IUsuarioService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="50000000"
          maxReceivedMessageSize="50000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IXML_ErrorService" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IXML_EncabezadoService" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_ISP" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IProcessFileService" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IMenuPermissionService" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IEntidadService" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_IServiceOf_Noticia" />
        <binding name="BasicHttpBinding_IServiceOf_IHist" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_Libor" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_TipoCambio" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_TBP" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_Analisis_VH" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_EstructuraCamel" />
        <binding name="BasicHttpBinding_IServiceOf_Seccion" />
        <binding name="BasicHttpBinding_IServiceOf_Tipo_Album" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_Graph" />
        <binding name="BasicHttpBinding_ICalendarioService" />
        <binding name="BasicHttpBinding_IServiceOf_Categoria_Riesgo" />
        <binding name="BasicHttpBinding_IServiceOf_Tipo_Cartera" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_Analisis_VH1" />
        <binding name="BasicHttpBinding_IEntidadService1" />
        <binding name="BasicHttpBinding_IServiceOf_Album" />
        <binding name="BasicHttpBinding_IServiceOf_ArchivoEstado1" />
        <binding name="BasicHttpBinding_ICalendarioService1" />
        <binding name="BasicHttpBinding_IServiceOf_Categoria_Riesgo1" />
        <binding name="BasicHttpBinding_IServiceOf_Error1" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_Libor1" />
        <binding name="BasicHttpBinding_IServiceOf_Log1" />
        <binding name="BasicHttpBinding_IMenuPermissionService1" />
        <binding name="BasicHttpBinding_IServiceOf_Menu1" />
        <binding name="BasicHttpBinding_IServiceOf_Noticia1" />
        <binding name="BasicHttpBinding_IServiceOf_Role1" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_EstructuraCamel1" />
        <binding name="BasicHttpBinding_IServiceOf_Rpt_Graph1" />
        <binding name="BasicHttpBinding_IServiceOf_Seccion1" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_TBP1" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_TipoCambio1" />
        <binding name="BasicHttpBinding_IServiceOf_Tipo_Album1" />
        <binding name="BasicHttpBinding_IServiceOf_Tipo_Cartera1" />
        <binding name="BasicHttpBinding_IServiceOf_TipoXML1" />
        <binding name="BasicHttpBinding_IServiceOf_UsuarioEstado1" />
        <binding name="BasicHttpBinding_IXML_EncabezadoService1" />
        <binding name="BasicHttpBinding_IXML_ErrorService1" />
        <binding name="BasicHttpBinding_IServiceOf_Formulas" />
        <binding name="BasicHttpBinding_IMessageService" />
        <binding name="BasicHttpBinding_IServiceOf_Sexo" />
        <binding name="BasicHttpBinding_IXML_ExcepcionService" />
        <binding name="BasicHttpBinding_IProyeccionService" />
        <binding name="BasicHttpBinding_IExclusion_PeriodoService" />
        <binding name="BasicHttpBinding_IInformeMailService" />
        <binding name="BasicHttpBinding_IServiceOf_TipoInforme" />
        <binding name="BasicHttpBinding_IParametrosService" />
        <binding name="BasicHttpBinding_IServiceOf_Hist_IPC" />
        <binding name="BasicHttpBinding_IServiceOf_Bit_Sessiones" />
        <binding name="BasicHttpBinding_ITareaService" />
        <binding name="BasicHttpBinding_ISolicitudCambioService" />
        <binding name="BasicHttpBinding_IProyectoService" />
        <binding name="BasicHttpBinding_INotificacionesService" />
        <binding name="BasicHttpBinding_ISugef_EncabezadoService" />
        <binding name="BasicHttpBinding_ISectorService" />
        <binding name="BasicHttpBinding_ICatalogoCuenta" />
        <binding name="BasicHttpBinding_IProy_EEFFService" />
        <binding name="BasicHttpBinding_IEvalPreguntaService" />
        <binding name="BasicHttpBinding_IEvalSubCategoriaService" />
        <binding name="BasicHttpBinding_IEvalResponsableCategoriaService" />
        <binding name="BasicHttpBinding_IServiceOf_EvalRespuestaUsuario" />
        <binding name="BasicHttpBinding_IEvalCategoriaService" />
        <binding name="BasicHttpBinding_IServiceOf_PerfilEntidad" />
        <binding name="BasicHttpBinding_IProcessFileService1" />
        <binding name="BasicHttpBinding_ISP1" />
        <binding name="BasicHttpBinding_IBCCR_IndicadoresService" />
        <binding name="BasicHttpBinding_IBCCR_TipoIndicadorService" />
        <binding name="BasicHttpBinding_ICreditoService" maxReceivedMessageSize="64000000" />
        <binding name="BasicHttpBinding_ICreditoService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.171.1.28/DBService/AlbumService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Album"
        contract="AlbumService.IServiceOf_Album" name="BasicHttpBinding_IServiceOf_Album" />
      <endpoint address="http://10.171.1.28/DBService/ArchivoEstadoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_ArchivoEstado"
        contract="ArchivoEstadoService.IServiceOf_ArchivoEstado" name="BasicHttpBinding_IServiceOf_ArchivoEstado" />
      <endpoint address="http://10.171.1.28/DBService/CalendarioService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalendarioService"
        contract="CalendarioService.ICalendarioService" name="BasicHttpBinding_ICalendarioService" />
      <endpoint address="http://10.171.1.28/DBService/CategoriaRiesgoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Categoria_Riesgo"
        contract="CategoriaRiesgoService.IServiceOf_Categoria_Riesgo"
        name="BasicHttpBinding_IServiceOf_Categoria_Riesgo" />
      <endpoint address="http://10.171.1.28/DBService/EntidadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidadService"
        contract="EntidadService.IEntidadService" name="BasicHttpBinding_IEntidadService" />
      <endpoint address="http://10.171.1.28/DBService/ErrorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Error"
        contract="ErrorService.IServiceOf_Error" name="BasicHttpBinding_IServiceOf_Error" />
      <endpoint address="http://10.171.1.28/DBService/LiborService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Hist_Libor"
        contract="LiborService.IServiceOf_Hist_Libor" name="BasicHttpBinding_IServiceOf_Hist_Libor" />
      <endpoint address="http://10.171.1.28/DBService/LogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Log"
        contract="LogService.IServiceOf_Log" name="BasicHttpBinding_IServiceOf_Log" />
      <endpoint address="http://10.171.1.28/DBService/MenuPermissionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuPermissionService"
        contract="MenuPermissionService.IMenuPermissionService" name="BasicHttpBinding_IMenuPermissionService" />
      <endpoint address="http://10.171.1.28/DBService/MenuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Menu"
        contract="MenuService.IServiceOf_Menu" name="BasicHttpBinding_IServiceOf_Menu" />
      <endpoint address="http://10.171.1.28/DBService/NoticiaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Noticia"
        contract="NoticiaService.IServiceOf_Noticia" name="BasicHttpBinding_IServiceOf_Noticia" />
      <endpoint address="http://10.171.1.28/DBService/RoleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Role"
        contract="RoleService.IServiceOf_Role" name="BasicHttpBinding_IServiceOf_Role" />
      <endpoint address="http://10.171.1.28/DBService/Rpt_Analisis_VHService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Rpt_Analisis_VH1"
        contract="Rpt_Analisis_VHService.IServiceOf_Rpt_Analisis_VH"
        name="BasicHttpBinding_IServiceOf_Rpt_Analisis_VH" />
      <endpoint address="http://10.171.1.28/DBService/Rpt_EstructuraCamelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Rpt_EstructuraCamel"
        contract="Rpt_EstructuraCamelService.IServiceOf_Rpt_EstructuraCamel"
        name="BasicHttpBinding_IServiceOf_Rpt_EstructuraCamel" />
      <endpoint address="http://10.171.1.28/DBService/Rpt_GraphService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Rpt_Graph"
        contract="Rpt_GraphService.IServiceOf_Rpt_Graph" name="BasicHttpBinding_IServiceOf_Rpt_Graph" />
      <endpoint address="http://10.171.1.28/DBService/SeccionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Seccion"
        contract="SeccionService.IServiceOf_Seccion" name="BasicHttpBinding_IServiceOf_Seccion" />
      <endpoint address="http://10.171.1.28/DBService/TBPService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Hist_TBP"
        contract="TBPService.IServiceOf_Hist_TBP" name="BasicHttpBinding_IServiceOf_Hist_TBP" />
      <endpoint address="http://10.171.1.28/DBService/TCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Hist_TipoCambio"
        contract="TCService.IServiceOf_Hist_TipoCambio" name="BasicHttpBinding_IServiceOf_Hist_TipoCambio" />
      <endpoint address="http://10.171.1.28/DBService/Tipo_AlbumService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Tipo_Album"
        contract="Tipo_AlbumService.IServiceOf_Tipo_Album" name="BasicHttpBinding_IServiceOf_Tipo_Album" />
      <endpoint address="http://10.171.1.28/DBService/TipoCarteraService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Tipo_Cartera"
        contract="TipoCarteraService.IServiceOf_Tipo_Cartera" name="BasicHttpBinding_IServiceOf_Tipo_Cartera" />
      <endpoint address="http://10.171.1.28/DBService/TipoXMLService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_TipoXML"
        contract="TipoXMLService.IServiceOf_TipoXML" name="BasicHttpBinding_IServiceOf_TipoXML" />
      <endpoint address="http://10.171.1.28/DBService/UsuarioEstadoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_UsuarioEstado"
        contract="UsuarioEstadoService.IServiceOf_UsuarioEstado" name="BasicHttpBinding_IServiceOf_UsuarioEstado" />
      <endpoint address="http://10.171.1.28/DBService/UsuarioService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
        contract="UsuarioService.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
      <endpoint address="http://10.171.1.28/DBService/XML_EncabezadoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXML_EncabezadoService"
        contract="XML_EncabezadoService.IXML_EncabezadoService" name="BasicHttpBinding_IXML_EncabezadoService" />
      <endpoint address="http://10.171.1.28/DBService/XML_ErrorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXML_ErrorService"
        contract="XML_ErrorService.IXML_ErrorService" name="BasicHttpBinding_IXML_ErrorService" />
      <endpoint address="http://10.171.1.28/DBService/FormulaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Formulas"
        contract="FormulaService.IServiceOf_Formulas" name="BasicHttpBinding_IServiceOf_Formulas" />
      <endpoint address="http://10.171.1.28/DBService/MessageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService"
        contract="MessageService.IMessageService" name="BasicHttpBinding_IMessageService" />
      <endpoint address="http://10.171.1.28/DBService/SexoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Sexo"
        contract="SexoService.IServiceOf_Sexo" name="BasicHttpBinding_IServiceOf_Sexo" />
      <endpoint address="http://10.171.1.28/DBService/XML_ExcepcionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXML_ExcepcionService"
        contract="XML_ExcepcionService.IXML_ExcepcionService" name="BasicHttpBinding_IXML_ExcepcionService" />
      <endpoint address="http://10.171.1.28/DBService/ProyeccionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProyeccionService"
        contract="ProyeccionService.IProyeccionService" name="BasicHttpBinding_IProyeccionService" />
      <endpoint address="http://10.171.1.28/DBService/Exclusion_PeriodoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExclusion_PeriodoService"
        contract="Exclusion_ProyectarService.IExclusion_PeriodoService"
        name="BasicHttpBinding_IExclusion_PeriodoService" />
      <endpoint address="http://10.171.1.28/DBService/InformeMailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInformeMailService"
        contract="InformeMailService.IInformeMailService" name="BasicHttpBinding_IInformeMailService" />
      <endpoint address="http://10.171.1.28/DBService/ParametrosService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParametrosService"
        contract="ParametrosService.IParametrosService" name="BasicHttpBinding_IParametrosService" />
      <endpoint address="http://10.171.1.28/DBService/IPCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Hist_IPC"
        contract="IPCService.IServiceOf_Hist_IPC" name="BasicHttpBinding_IServiceOf_Hist_IPC" />
      <endpoint address="http://10.171.1.28/DBService/Bit_SessionesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_Bit_Sessiones"
        contract="Bit_SessionesService.IServiceOf_Bit_Sessiones" name="BasicHttpBinding_IServiceOf_Bit_Sessiones" />
      <endpoint address="http://localhost/TaskManagerService/TareaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITareaService"
        contract="TareaService.ITareaService" name="BasicHttpBinding_ITareaService" />
      <endpoint address="http://localhost/TaskManagerService/SolicitudCambioService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitudCambioService"
        contract="SolicitudCambioService.ISolicitudCambioService" name="BasicHttpBinding_ISolicitudCambioService" />
      <endpoint address="http://localhost/TaskManagerService/ProyectoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProyectoService"
        contract="ProyectoService.IProyectoService" name="BasicHttpBinding_IProyectoService" />
      <endpoint address="http://10.171.1.28/DBService/NotificacionesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionesService"
        contract="NotificacionesService.INotificacionesService" name="BasicHttpBinding_INotificacionesService" />
      <endpoint address="http://10.171.1.28/DBService/Sugef_EncabezadoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISugef_EncabezadoService"
        contract="Sugef_EncabezadoService.ISugef_EncabezadoService"
        name="BasicHttpBinding_ISugef_EncabezadoService" />
      <endpoint address="http://10.171.1.28/DBService/SectorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISectorService"
        contract="SectorService.ISectorService" name="BasicHttpBinding_ISectorService" />
      <endpoint address="http://10.171.1.28/DBService/CatalogoCuentaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoCuenta"
        contract="CatalogoCuentaService.ICatalogoCuenta" name="BasicHttpBinding_ICatalogoCuenta" />
      <endpoint address="http://10.171.1.28/DBService/EvalResponsableCategoriaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalResponsableCategoriaService"
        contract="EvalResponsableCategoriaService.IEvalResponsableCategoriaService"
        name="BasicHttpBinding_IEvalResponsableCategoriaService" />
      <endpoint address="http://10.171.1.28/DBService/EvalRespuestaUsuarioService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_EvalRespuestaUsuario"
        contract="EvalRespuestaUsuarioService.IServiceOf_EvalRespuestaUsuario"
        name="BasicHttpBinding_IServiceOf_EvalRespuestaUsuario" />
      <endpoint address="http://10.171.1.28/DBService/Proy_EEFFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProy_EEFFService"
        contract="Proy_EEFFService.IProy_EEFFService" name="BasicHttpBinding_IProy_EEFFService" />
      <endpoint address="http://10.171.1.28/DBService/PerfilEntidadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_PerfilEntidad"
        contract="PerfilEntidadService.IServiceOf_PerfilEntidad" name="BasicHttpBinding_IServiceOf_PerfilEntidad" />
      <endpoint address="http://10.171.1.28/DBService/TipoInformeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOf_TipoInforme"
        contract="TipoInformeService.IServiceOf_TipoInforme" name="BasicHttpBinding_IServiceOf_TipoInforme" />
      <endpoint address="http://10.171.1.28/DBService/EvalCategoriaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalCategoriaService"
        contract="EvalCategoriaService.IEvalCategoriaService" name="BasicHttpBinding_IEvalCategoriaService" />
      <endpoint address="http://10.171.1.28/DBService/EvalSubCategoriaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalSubCategoriaService"
        contract="EvalSubCategoriaService.IEvalSubCategoriaService"
        name="BasicHttpBinding_IEvalSubCategoriaService" />
      <endpoint address="http://10.171.1.28/DBService/EvalPreguntaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalPreguntaService"
        contract="EvalPreguntaService.IEvalPreguntaService" name="BasicHttpBinding_IEvalPreguntaService" />
      <endpoint address="http://localhost:53908/ProcessFileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessFileService1"
        contract="ProcessFileService.IProcessFileService" name="BasicHttpBinding_IProcessFileService" />
      <endpoint address="http://10.171.1.28/DBService/SP.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISP" contract="SPService.ISP"
        name="BasicHttpBinding_ISP" />
      <endpoint address="http://10.171.1.28/DBService/BCCR_IndicadoresService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBCCR_IndicadoresService"
        contract="BCCR_IndicadoresService.IBCCR_IndicadoresService"
        name="BasicHttpBinding_IBCCR_IndicadoresService" />
      <endpoint address="http://10.171.1.28/DBService/BCCR_TipoIndicadorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBCCR_TipoIndicadorService"
        contract="BCCR_TipoIndicadorService.IBCCR_TipoIndicadorService"
        name="BasicHttpBinding_IBCCR_TipoIndicadorService" />
      <endpoint address="http://10.171.1.28/DBService/CreditoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditoService1"
        contract="CreditoService.ICreditoService" name="BasicHttpBinding_ICreditoService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <httpRedirect enabled="false" />
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument enabled="true">
      <files>
        <clear />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHPFast2" />
      <remove name="PHP-FastCGI" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="fga/Uploads/FGA">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>