<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Minutes" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SIConnectionString" connectionString="Data Source=DESKTOP-6PESMK8;Initial Catalog=FGA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ContentConnectionString" connectionString="Data Source=DESKTOP-6PESMK8;Initial Catalog=FGA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="FGAEntities" connectionString="metadata=res://*/Entities.Procedures.FGAEntities.csdl|res://*/Entities.Procedures.FGAEntities.ssdl|res://*/Entities.Procedures.FGAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=FGA;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IXML_EncabezadoService"/>
        <binding name="BasicHttpBinding_ICargaAsincronicaService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53908/XML_EncabezadoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXML_EncabezadoService" contract="XML_EncabezadoService.IXML_EncabezadoService" name="BasicHttpBinding_IXML_EncabezadoService"/>
      <endpoint address="http://localhost:53908/CargaAsincronicaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargaAsincronicaService" contract="CargaAsincronicaService.ICargaAsincronicaService" name="BasicHttpBinding_ICargaAsincronicaService"/>
    </client>
  </system.serviceModel>
</configuration>
