.custom-form {
    opacity: 0.9;
    border-radius: 10px;
}

.background {
    background: url(../Content/images/Login_13.jpg);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-color: #888888;
    background-position: center center;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1; /* To make sur it's below the rest */
}

.logo {
    -webkit-animation-name: logo_animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: logo_animation;
    animation-duration: 5s;
}

@-moz-keyframes logo_animation {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes logo_animation {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes logo_animation {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
