<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="TC" value="317"/>
    <add key="Libor" value="350"/>
    <add key="TBP" value="423"/>
    <add key="TPM" value="436"/>
    <add key="TED" value="427"/>
    <add key="IMAE" value="432"/>
    <add key="IIS" value="346"/>
    <add key="IPCVariacion" value="25485"/>
    <add key="IPC" value="25554"/>
    <add key="Email" value="info@fgaconfia.com"/>
    <add key="Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJCQ0NSLVNEREUiLCJzdWIiOiJqb3JnZWx1aXNjYXN0cm9AZ21haWwuY29tIiwiYXVkIjoiU0RERS1TaXRpb0V4dGVybm8iLCJleHAiOjI1MzQwMjMwMDgwMCwibmJmIjoxNzg4NzI0OTE2LCJpYXQiOjE3ODg3MjQ5MTYsImp0aSI6IjJiMWRmNTFlLWRkNjYtNDFiOS05NzNlLTliZTIzY2U5NGM3ZSIsImVtYWlsIjoiam9yZ2VsdWlzY2FzdHJvQGdtYWlsLmNvbSJ9.YxCty4NVcD15KzG51QE0MR4aZh6sDOA-sSt-_bLEtKY"/>
    <add key="Name" value="FGA"/>
    <add key="Minutes" value="20"/>
    <add key="ServidorCorreo" value="smtp.office365.com"/>
    <add key="CuentaCorreo" value="sac@fgaconfia.com"/>
    <add key="CorreoDestino" value="sac@fgaconfia.com"/>
    <add key="PassCuentaCorreo" value="FGA$2020$Sis"/>
  </appSettings>
  <connectionStrings>
    <add name="FGAEntities" connectionString="metadata=res://*/Entities.Procedures.FGAEntities.csdl|res://*/Entities.Procedures.FGAEntities.ssdl|res://*/Entities.Procedures.FGAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FGA;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="SIConnectionString" connectionString="data source=.;initial catalog=FGA;user id=FGA;integrated security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsindicadoreseconomicosSoap" maxBufferPoolSize="0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IParametrosService"/>
        <binding name="BasicHttpBinding_ISP"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.171.1.28/DBService/SP.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISP" contract="SP.ISP" name="BasicHttpBinding_ISP"/>
      <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx" binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap" contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
